.experiencia-container {
  max-width: 100%;
  padding: 20px;
  margin: 0px auto;
  display: grid;
  gap: 100px;
}

.experiencia-logo {
  margin-top: 60px;
  margin-left: 160px;
}

.experiencia-barra {
  margin-left: 120px;
}

.experiencia-barra {
  max-width: 80ch;
  padding: 20px;
  background: #8eb990;
  border-radius: 4px;
}

.grade-marinha,
span {
  position: relative;
  left: 38%;
}
span {
  left: 42%;
}

.grade-curso,
.curso-militar {
  display: flex;
  align-items: center;
  margin-left: 0px;
}
.grade-curso {
  margin-left: 30%;
}
.livro-curso {
  margin-right: 20px;
}
