.experiencia-container {
  max-width: 100%;
  display: grid;
  padding: 20px;
  margin: 0px auto;
  gap: 60px;
  align-items: center;
}

.experiencia-logo {
  font-size: 6rem;
  color: #000000;
  margin-top: 60px;
  margin: 0 auto;
}

.experiencia-barra1 {
  margin-left: 120px;
  align-items: center;
  margin: 0 auto;
}

.experiencia-barra1 {
  max-width: 80ch;
  padding: 20px;
  background: #8eb990;
  border-radius: 4px;
  align-items: center;
}
.experiencia-barra2 {
  margin-left: 120px;
  align-items: center;
  margin: 0 auto;
}

.experiencia-barra2 {
  max-width: 80ch;
  padding: 20px 70px;
  background: #8eb990;
  border-radius: 4px;
  align-items: center;
}

.grade-marinha,
span {
  position: relative;
  left: 38%;
}
span {
  left: 42%;
}

.grade-curso,
.curso-militar {
  display: flex;
  align-items: center;
  margin-left: 0px;
}
.grade-curso {
  margin-left: 30%;
}
.livro-curso {
  margin-right: 20px;
}
@media (max-width: 800px) {
  .experiencia-container {
    margin: 0 auto;
    align-items: center;
  }
  .experiencia-logo {
    font-size: 3rem;
  }
}

@media (max-width: 800px) {
  .grade-curso,
  .grade-marinha {
    align-items: start;
  }
}
@media (max-width: 600px) {
  .experiencia-texto {
    font-size: 12px;
  }
}
