.experiencia-container {
  max-width: 100%;
  display: grid;
  padding: 20px;
  margin: 0px auto;
  gap: 60px;
  align-items: center;
}

.experiencia-logo {
  font-size: 6rem;
  color: #000000;
  margin-top: 60px;
  margin: 0 auto;
  font-family: roboto;
  font-weight: 600;
}

.experiencia-grade {
  margin-left: 120px;
  align-items: center;
  margin: 0 auto;
}

.experiencia-grade {
  max-width: 80ch;
  padding: 30px;
  background: #8eb990;
  border-radius: 4px;
  align-items: center;
  text-align: justify;
}
.grade-marinha,
.grade-curso,
.span-data {
  text-align: center;
}

.experiencia-texto {
  margin: 10px;
}

/*------------------------------------RESPONSIVO -----------------------------------------------------*/

@media (max-width: 800px) {
  .experiencia-container {
    margin: 0 auto;
    align-items: center;
  }
  .experiencia-logo {
    font-size: 3rem;
  }
}

@media (max-width: 600px) {
  .experiencia-container {
    display: grid;
    grid-template-columns: 1fr;
    margin: 20px;
    place-items: center;
    align-items: center;
    max-width: 30ch;
  }
}
.span-data {
  text-align: center;
}
.experiencia-texto {
  font-size: 14px;
}

.grade-curso {
  position: relative;
  margin: 0 auto;
}
