.contato {
  max-width: 100%;
  display: grid;
  padding: 20px;
  gap: 60px;
  margin: 0 auto;
  align-content: center;
}

.footer-titulo {
  font-size: 6rem;
  color: #000000;
  margin-top: 60px;
  margin: 0 auto;
}

.footer-container {
  display: grid;
  align-items: center;
  gap: 30px;
  background: #8eb990;
  border-radius: 4px;
  padding: 60px;
  margin: 0 auto;
}

.footer-imagens {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  justify-content: center;
}

.footer-container p {
  font-size: 1.2rem;
}

@media (max-width: 600px) {
  .footer-titulo {
    font-size: 3rem;
  }
  .footer-container {
    flex-wrap: wrap;
    padding: 20px;
  }
}
