.formacao {
  max-width: 100%;
  display: grid;
  padding: 20px;
  gap: 60px;
  margin: 0 auto;
  align-content: center;
}

.formacao-logo {
  margin-top: 60px;
  margin-left: 160px;
}

.formacao-barra {
  max-width: 80ch;
  background: #8eb990;
  border-radius: 4px;
  padding: 20px;
  margin-left: 0 auto;
}

.formacao-barra {
  display: grid;
  justify-content: center;
  margin-left: 120px;
  padding: 20px;
}

.formacao-grade {
  display: flex;
}
.formacao-grade2 {
  margin-left: 60px;
}
.formacao-titulo {
  padding: 20px;
}
.formacao-data {
  margin-left: 60px;
}

.skills ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  align-content: center;
  margin-left: 200px;
  margin-top: 60px;
}
