.formacao {
  max-width: 100%;
  display: grid;
  padding: 20px;
  gap: 60px;
  margin: 0 auto;
  align-content: center;
}

.formacao-logo {
  margin-top: 60px;
  margin-left: 160px;
}

.formacao-barra {
  max-width: 80ch;
  background: #8eb990;
  border-radius: 4px;
  padding: 20px;
  margin-left: 0 auto;
}

.formacao-barra {
  margin-left: 120px;
}

.formacao-grade {
  display: grid;
  grid-template-columns: 4fr;
  align-items: center;
  margin: auto;
}

.skills ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  align-content: center;
  margin-left: 120px;
}
