* {
  max-width: 100%;
  margin: 0px;
  padding: 0px;
}

body {
  background: fixed linear-gradient(#ace1af 0%, #aadead 0%, #5e7b60 100%);
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

p,
h3,
span {
  margin: 0;
  font-family: Poppins, Fira Sans, Arial, Helvetica, sans-serif;
  font-style: bold;
}
p {
  font-size: 1rem;
  line-height: auto;
  color: #000000;
}

h3 {
  color: #3d3d3d;
}

.linha-grande {
  max-width: 100%;
  margin-left: 100px;
  margin-right: 100px;
  border: 1px solid #492b77;
  margin: 100px;
}
