.introducao-container {
  max-width: 100%;
  padding: 40px 20px;
  margin: 0px auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
  align-items: center;
}

.introducao-container h1 {
  font-family: Fira Sans, Poppins, Arial, Helvetica, sans-serif;
  font-size: 3rem;
  line-height: 1.125;
  margin-bottom: 30px;
  position: relative;
}

.imagem-perfil {
  margin-top: 60px;
  margin-left: 50%;
}

.localizacao {
  margin-left: 1px;
  color: #000000;
  margin-top: -20px;
}

@media (max-width: 1440px) {
  .introducao-texto {
    margin-left: 60px;
    margin-top: 30px;
  }
}

@media (max-width: 800px) {
  .introducao-container {
    grid-template-columns: 1fr;
    align-items: center;
  }
  .introducao-container img {
    min-width: 150px 150px;
    display: grid;
    justify-self: start;
    margin: 0 auto;
  }
  .introducao-container h1 {
    font-family: Fira Sans, Poppins, Arial, Helvetica, sans-serif;
    font-size: 2rem;
    line-height: 1.125;
  }
}
